@import '../../../settings/palette.less';

.container {
  color: #797979;
  margin-bottom: 12px;
}

.container p {
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}

.image-container {
  background-color: whitesmoke;
  display: inline-block;
  max-height: 132px;
  padding: 6px;
  text-align: center;
}

.image {
  display: block;
  width: 170px;
  height: auto;
  margin: 0 auto;
}

.address {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  padding-top: 5px;
}

.price {
  color: #393939;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;

}



