@import "palette.less";

@appWidth: 1200px;
@footerHeight: 132px;

@mobile: 430px;
@lgMobile: 431px;
@mobileHorizontal: 749px;
@lgMobileHorizontal: 750px;
@tablet: 780px;
@lgTablet: 781px;
@tabletHorizontal: 1050px;
@lgTabletHorizontal: 1051px;
@desktop: 1051px;


