@import '../../../settings/palette.less';
@import '../../../settings/mixins.less';
/*=grid*/
.row {
  min-width: 100%;
  .contentRow;
}

.col1 {
  lost-column: 1;
}

.col2 {
  lost-column: 1/2;
}

.btnContainer {
  margin-bottom: 16px;
}
/*=desktop*/
@media screen and (min-width: @tablet) {
  .btnContainer {
    text-align: right;
    lost-column: 1;
  }
}

/*=mobile*/
@media screen and (max-width: @mobileHorizontal) {
  .btnContainer {
    text-align: center;
  }

  .col2 {
    lost-column: 1 0;
  }
}

