@import '../../settings/mixins.less';
@import '../../settings/palette.less';

.wrapper {
  width: 100%;
  background-color: @primary-1-color;
}

.row {
  .appRow;
}

.rowSearch,
.rowLogo {
  .contentRow;
}

.col1 {
  lost-column: 1;
  text-align: center;
}

.col2 {
  lost-column: 1/2;
}

.companyLogo {
  display: block;
  margin: 0 auto;
  padding-top: 16px;
}

.companySlogan {
  font-family: Roboto, sans-serif !important;
  text-transform: capitalize;
  font-size: 44px;
  font-weight: 300 !important;
  line-height: 70px;
  color: white;
}

@media (max-width: @mobileHorizontal) {
  .rowSlogan {
    display: none !important;
  }

  .rowLogo {
    display: none !important;
  }
}

@media (max-width: @lgTabletHorizontal) {
  .rowSearch {
    width: 90%;
  }
}

@media (max-width: @lgTablet) {
  .searchContainer {
    lost-column: 1;
  }

  .rowSearch {
    .contentRow;
    width: 90%;
  }
}

@media (min-width: @lgTablet) {
  .searchContainer {
    lost-column: 8/12;
    lost-offset: -2/12;
  }

}

@media (min-width: @lgTabletHorizontal) {
  .searchContainer {
    lost-column: 1/2;
    lost-offset: -1/4;
  }

}
