@import '../../../settings/mixins.less';

.btnContainer {
  lost-column: 1 0;
}

.button {
  display: block;
}

.container {
  .contentRow;
}

.column {
  lost-column: 1 0;
}

.gridColsClass {
  lost-column: 1/2 0;
}

/*=desktop*/
@media screen and (min-width: @tablet) {
  .btnContainer {
    text-align: right;
    lost-column: 1 0;
  }
}

@media screen and (max-width: @mobileHorizontal) {
  .btnContainer {
    text-align: center;
  }

  .gridColsClass {
    lost-column: 1 0;
  }
}