@import '../../../../settings/mixins.less';
@import '../../../../settings/palette.less';
@import '../../../../settings/vars.less';

.row {
  lost-center: @appWidth;
  lost-utility: clearfix;
  width: 96%;
  height: 100%;
  margin-bottom: 20px;
}

.col1 {
  padding-top: 16px;
  lost-column: 1;
}

.col2 {
  lost-column: 1/2;
}

