@import '../../settings/palette.less';
@import '../../settings/mixins.less';

/*=grid*/
.container {
  float: right;
  padding-bottom: 16px;
  div {
    display: inline-block;
    margin: 0 4px !important;
  }
}

.button {
  div{
    margin:0 !important;
  }
  span {
    vertical-align: middle;
  }
}


