@import '../../settings/palette.less';
@import '../../settings/mixins.less';

/*=grid*/
.row {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  lost-utility: clearfix;
}

.col4 {
  lost-column: 1/4 0;
}

.col2 {
  lost-column: 1/2 0;
}

.linkContainer {
  display: inline-block;
  margin: 0 4px 16px;
}

.breadcrumbs {
  text-align: right;
}

.button {
  display: block;
  padding: 4px;
  width: 140px !important;
  div {
    margin: 0 !important;
  }
  span {
    vertical-align: middle;
  }
}

.counter {
  font-size: 16px;
  color: @primary-2-color;
}
