@import "skeleton.css";
@import "Footer.css";
/* Insert any additional CSS you need here */

body {
    font-family: Roboto, sans-serif, Helvetica, Arial, sans-serif;
}

a {
    color: #393939;
    text-decoration: none;
}

/*Layout*/
.AppLayout {
    position: relative;
    height: 100%;
    min-height: 100%;
}

.AppLayout__content {
    padding: 72px 8px 8px 8px;
}

.AppLayout__content p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
}

@media screen and (min-width: 960px) {
    .AppLayout__content {
        min-height: 650px;
    }
}

@media screen and (min-width: 1400px) {
    .AppLayout__content {
        min-height: 750px;
    }
}

@media screen and (min-width: 1800px) {
    .AppLayout__content {
        min-height: 850px;
    }
}

/*AppBar*/
.AppBar_Container {
    max-height: 64px;
    padding: 0 8px !important;
}

.AppBar__logo-img {
    padding: 8px;
    width: 50px;
}

.AppBar__title-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.AppBar__title-ul li {
    display: inline-block;
}

.AppBar__title-li-text {
    padding-left: 5px;
    vertical-align: top;
    font-size: 20px;
    color: white;
}

.AppBar__title-li-logo {
    display: inline-block;
    vertical-align: top;
}

.AppBar__title-li-logo img {
    width: 50px;
    display: block;
}

/*Left Nav (Drawer)*/
.LeftNav__Header {
    display: block;
    height: 64px;
    background: #EEEEEE;
}

.LeftNav__Header {
    display: block;
    height: 64px;
    background: #EEEEEE;
}

/*Media Mobile*/
@media screen and (max-width: 700px) {
    .AppBar__logo-img {
        padding-left: 0 !important;
    }

    .AppBar_Container {
        padding: 0 18px !important;
    }

    .AppBar__title-li-text {
        display: none !important;
        margin-left: 16px;
    }

}

@media screen and (max-width: 701px) {
    .AppNav_Top {
        display: none;
    }

    .AppBar_Container button {
        margin-right: 0 !important;
    }
}

/*Media Desktop*/
@media screen and (min-width: 700px) {

    .AppBar_Container button {
        display: none !important;
    }
}

