.HouseInfo {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    padding: 16px;
}

.HouseInfo__key-facts p {
    font-weight: normal;
    margin-bottom: 8px;
}

.HouseInfo__card article {
    padding: 0 16px;
}

.HouseInfo__card-address h1 {
    margin: 0 0 5px;
    font-size: 22px;
}

.HouseInfo__card-price h4 {
    margin: 0 0 5px;
    font-size: 22px;
    font-weight: 500;
}

.HouseInfo__card-address {
    padding: 0 16px;
    text-align: left;
}

.HouseInfo__card-price {
    padding: 0 16px;
    text-align: right;
}

@media (max-width: 599px) {
    .HouseInfo__card-address {
        text-align: center;
    }

    .HouseInfo__card-price {
        text-align: center;
    }

}
