@import "skeleton.css";

/* Insert any additional CSS you need here */
body {
    font-family: Roboto, sans-serif, Helvetica, Arial, sans-serif;
}

a {
    color: #393939;
    text-decoration: none;
}

/*Common styles*/
.list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-unstyled li {
    padding: 0;
}

/**/

.AppBar_Container {
    max-height: 64px;
    padding: 0 8px !important;
}

.AppBar__title-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.AppBar__title-ul li {
    display: inline-block;
}

.AppBar__title-li-text {
    padding-left: 5px;
    vertical-align: top;
    font-size: 20px;
    color: white;
}

.AppBar__logo-img {
    padding: 8px;
    width: 50px;
}

@media screen and (max-width: 600px) {
    .AppBar__logo-img {
        padding-left: 0 !important;
    }

    .AppBar_Container {
        padding: 0 18px !important;
    }

    .AppBar__title-li-text {
        display: none !important;
        margin-left: 16px;
    }

}

.AppBar__title-li-logo {
    display: inline-block;
    vertical-align: top;
}

.AppBar__title-li-logo img {
    width: 50px;
    display: block;
}

.AppLayout__content {
    padding: 72px 8px 8px 8px;
}

.MenuItem__Link {
    display: block;
    width: 100%;
    height: 100%;
}

.LeftNav__Header {
    display: block;
    height: 64px;
    background: #EEEEEE;
}

@media screen and (max-width: 580px) {
    .AppNav_Top {
        display: none;
    }

    .AppBar_Container button {
        margin-right: 0 !important;
    }
}

@media screen and (min-width: 580px) {

    .AppBar_Container button {
        display: none !important;
    }
}

/*=Desktop Footer*/

.Footer__address span {
    display: block;
    text-decoration: none;
    transition: .4s;
    font-weight: 300;
}

/*Mobile Footer*/
@media screen and (max-width: 579px) {
    .Footer__section-header {
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 18px;
    }

    .Footer__address span {
        height: auto;
        padding-bottom: 12px;
        font-size: 20px;
        display: block;
    }
}

