@import "skeleton.css";
@import 'typography.css';
@import "AppLayout.css";
@import "Footer.css";

/* Insert any additional CSS you need here */

.list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-unstyled li {
    padding: 0;
}

.MenuItem__Link {
    display: block;
    width: 100%;
    height: 100%;
}
