@import '../../settings/palette.less';
@import '../../settings/mixins.less';
@import '../../settings/vars.less';

/*global styles for app*/
body{
  background-color: red;
}

ul {
  .list-unstyled;
}

/*=layout*/
.contentWrapper {
  min-height: 1000px;
  background-color: green;
  .appRow;
}

.mainContent,
.asideContent {
  padding: 16px 0;
}

@media (max-width: @tabletHorizontal) {
  .contentWrapper {
    width: 95%;
  }

  .mainContent {
    lost-column: 1;
  }

  .asideContent {
    lost-column: 1;
  }
}

@media screen and (min-width: @desktop) {
  .contentWrapper {
    width: 100%;
  }

  .mainContent {
    lost-column: 2/3 0;
  }

  .asideContent {
    lost-column: 1/3 0;
  }

}

.footer {
  lost-column: 1 0;
  background-color: @footerColor;
  width: 100%;
}

