@import '../../../settings/palette.less';

.container {
  margin: 8px;
  text-align: right;
  li {
    display: inline-block;
  }
}

.link {
  color: @white-dark;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 12px;
  margin-left: 5px;
  height: 20px;
  cursor: pointer;
  font-weight: 400;
  font-size: 13px;
}