@import '../../../settings/vars.less';

.h1 {
  @media (max-width: @mobileHorizontal) {
    font-size: 26px !important;
    margin-top: 8px !important;
    margin-bottom: 16px !important;
    line-height: 1.4 !important;
  }
  @media (min-width: @lgMobileHorizontal) {
    font-size: 34px !important;
  }
  @media (min-width: @lgTablet) {
    font-size: 36px !important;
  }
}




