@import '../../../settings/palette.less';

.container {
  padding-top: 16px;
}

.link {
  color: @additional-text-color;
  font-size: 18px;
  margin: 5px;
  padding: 18px 4px;
  text-decoration: none;
}
