@import '../../settings/mixins.less';
@import '../../settings/palette.less';

.wrapper {
  width: 100%;
  background-color: @primary-1-color;
}

.row {
  .appRow;
}

.col1 {
  lost-column: 1;
  text-align: center;
}

.input {
  lost-column: 3/4;
}

.buttonContainer {
  lost-column: 1/4;
}
.container{
  padding-bottom: 30px;
}
