@import '../../../settings/palette.less';

.address {
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  line-height: 1;
  padding-bottom: 5px;
}

.cardTitle {
  padding: 0 0 8px 16px !important;
}

.container {
  color: #797979;
  margin-bottom: 12px;
}

.container p {
  font-size: 14px;
  line-height: 22px;
  margin: 0 10px;
}

.image {
  display: block;
  width: 170px;
  height: auto;
  margin: 0 auto;
}

.price {
  font-size: 18px;
  padding-left: 12px;
  padding-bottom: 5px;
  color: @primary-2-color;
  font-weight: 500;
}

.new {
  color: @accent-1-color;
  font-weight: 500;
  font-size: 16px;
}

.street {
  display: block;
  padding-bottom: 8px;
}

